---
  pageName: "blog"
  logo: "../../images/denizanasi-logo.svg"
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}} - Deniz Anası</title>
    <meta name="robots" content="max-image-preview:large" />
    <link rel="stylesheet" href="../../css/global.css" />
    <link rel="stylesheet" href="../../css/blog-detail.css" />
    <link
      rel="stylesheet"
      id="wp-block-library-css"
      href="../../wp-includes/css/dist/block-library/style.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wc-blocks-vendors-style-css"
      href="../../wp-content/plugins/woo-gutenberg-products-block/build/wc-blocks-vendors-style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wc-blocks-style-css"
      href="../../wp-content/plugins/woo-gutenberg-products-block/build/wc-blocks-style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="classic-theme-styles-css"
      href="../../wp-includes/css/classic-themes.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="redux-extendify-styles-css"
      href="../../wp-content/plugins/redux-framework/redux-core/assets/css/extendify-utilities.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="contact-form-7-css"
      href="../../wp-content/plugins/contact-form-7/includes/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bwp_woocommerce_filter_products-css"
      href="../../wp-content/plugins/wpbingo/assets/css/bwp_ajax_filter.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="buy-together-frontend-css"
      href="../../wp-content/plugins/wpbingo/lib/buy-together/assets/css/frontend.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bwp_lookbook_css-css"
      href="../../wp-content/plugins/wpbingo/assets/css/bwp_lookbook.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="perfect-scrollbar-css"
      href="../../wp-content/plugins/woo-smart-wishlist/assets/libs/perfect-scrollbar/css/perfect-scrollbar.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="perfect-scrollbar-wpc-css"
      href="../../wp-content/plugins/woo-smart-wishlist/assets/libs/perfect-scrollbar/css/custom-theme.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="woosw-icons-css"
      href="../../wp-content/plugins/woo-smart-wishlist/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="woosw-frontend-css"
      href="../../wp-content/plugins/woo-smart-wishlist/assets/css/frontend.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="beaufly-wp-fonts-gantari-css"
      href="https://fonts.googleapis.com/css2?family=Gantari%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&#038;display=swap&#038;ver=6.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="beaufly-style-css"
      href="../../wp-content/themes/beaufly/style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bootstrap-css"
      href="../../wp-content/themes/beaufly/css/bootstrap.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="circlestime-css"
      href="../../wp-content/themes/beaufly/css/jquery.circlestime.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="mmenu-all-css"
      href="../../wp-content/themes/beaufly/css/jquery.mmenu.all.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="slick-css"
      href="../../wp-content/themes/beaufly/css/slick/slick.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="font-awesome-css"
      href="../../wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elegant-css"
      href="../../wp-content/themes/beaufly/css/elegant.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="wpbingo-css"
      href="../../wp-content/themes/beaufly/css/wpbingo.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="icomoon-css"
      href="../../wp-content/themes/beaufly/css/icomoon.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="feather-css"
      href="../../wp-content/themes/beaufly/css/feather.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="beaufly-style-template-css"
      href="../../wp-content/themes/beaufly/css/template.css"
      type="text/css"
      media="all"
    />
        <script
      defer
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
 <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script
      type="text/javascript"
      src="../../wp-includes/js/jquery/jquery.min.js"
      id="jquery-core-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-includes/js/jquery/jquery-migrate.min.js"
      id="jquery-migrate-js"
    ></script>
  </head>
  <body
    class="post-template-default single single-post postid-3976 single-format-standard theme-beaufly woocommerce-no-js solution-for-acne-and-sensitive-skin banners-effect-1 single-post-prallax_image elementor-default elementor-kit-9482"
  >
    <div id="page" class="hfeed page-wrapper">

      {% include 'header.njk' %}

      <div id="bwp-main" class="bwp-main">
        <div class="content-single-prallax_image">
          <div class="content-image-single">
            <div
              class="entry-thumb single-thumb"
              style="
                background-image: url('{{image}}');
              "
            ></div>
            <div class="content-info">
              <div class="cat-links">
                <ul class="post-categories">
                  {%- for tag in collections.tags -%}
                  <li>
                    <a href="#0" rel="category tag">{{tag}}</a>
                  </li>
                  {%- endfor %}
                </ul>
              </div>

              <h3 class="entry-title">
                {{title}}
              </h3>
              <div class="entry-meta-head">
                <div class="entry-author">
                  <span class="entry-meta-link">
                    <div class="entry-date">
                      <div rel="bookmark">
                        <time
                          class="published"
                        >
                        {{ date | postDate }}
                        </time>
                        <time
                          class="updated"
                          datetime="2023-03-28T07:16:57+00:00"
                        >
                        {{ date | postDate }}
                        </time>
                        </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="single-post-content">
              <div class="post-single prallax_image">
                <article
                  id="post-3976"
                  class="post-3976 post type-post status-publish format-standard has-post-thumbnail hentry category-accessories category-collection category-health-beauty tag-beauty tag-ear-care tag-electric tag-fashion tag-jwerly tag-mimimal"
                >
                  <div class="post-content">
                    <div class="post-excerpt clearfix">
                      <!-- CK İçeriği olucak -->
                     {{ content | safe }}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  {# <div class="post-content-entry">
                    <div class="tags-links">
                      <a rel="tag">Güzellik</a>
                      <a rel="tag">Cilt Bakım</a>
                      <a rel="tag">Yeni Ürün</a>
                    </div>
                  </div> #}
                  <div class="clearfix"></div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include 'footer.njk' %}}
    </div>
    <div class="back-top"></div>
    {% include 'newsletter.njk' %}}

    <div class="content-cart-popup"></div>
    <div class="remove-mobile-menu"></div>
    <div class="content-mobile-menu hidden-lg hidden-md">
      <div class="content"></div>
    </div>
    <link
      rel="stylesheet"
      id="elementor-frontend-legacy-css"
      href="../../wp-content/uploads/elementor/css/custom-frontend-legacy.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-frontend-css"
      href="../../wp-content/uploads/elementor/css/custom-frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-post-9121-css"
      href="../../wp-content/uploads/elementor/css/post-9121.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-post-16554-css"
      href="../../wp-content/uploads/elementor/css/post-16554.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-post-12246-css"
      href="../../wp-content/uploads/elementor/css/post-12246.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-post-11196-css"
      href="../../wp-content/uploads/elementor/css/post-11196.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-icons-css"
      href="../../wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="swiper-css"
      href="../../wp-content/plugins/elementor/assets/lib/swiper/css/swiper.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="elementor-post-9482-css"
      href="../../wp-content/uploads/elementor/css/post-9482.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="e-animations-css"
      href="../../wp-content/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="rs-plugin-settings-css"
      href="../../wp-content/plugins/revslider/public/assets/css/rs6.css"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="../../wp-content/plugins/revslider/public/assets/js/rbtools.min.js"
      async
      id="tp-tools-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/revslider/public/assets/js/rs6.min.js"
      async
      id="revmin-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js"
      id="jquery-blockui-js"
    ></script>
    <script type="text/javascript" id="wc-add-to-cart-js-extra">
      /* <![CDATA[ */
      var wc_add_to_cart_params = {
        ajax_url: "\/wordpress\/beaufly\/wp-admin\/admin-ajax.php",
        wc_ajax_url: "\/wordpress\/beaufly\/?wc-ajax=%%endpoint%%",
        i18n_view_cart: "View cart",
        cart_url: "https:\/\/wpbingosite.com\/wordpress\/beaufly\/cart\/",
        is_cart: "",
        cart_redirect_after_add: "no",
      }
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="../../wp-includes/js/jquery/ui/core.min.js"
      id="jquery-ui-core-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-includes/js/jquery/ui/mouse.min.js"
      id="jquery-ui-mouse-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-includes/js/jquery/ui/slider.min.js"
      id="jquery-ui-slider-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/woocommerce/assets/js/accounting/accounting.min.js"
      id="accounting-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js"
      id="jquery-cookie-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/wpbingo/assets/js/newsletter.js"
      id="wpbingo-newsletter-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/woo-smart-wishlist/assets/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"
      id="perfect-scrollbar-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/popper.min.js"
      id="popper-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/bootstrap.min.js"
      id="bootstrap-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/jquery.mmenu.all.min.js"
      id="jquery-mmenu-all-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/slick.min.js"
      id="slick-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/instafeed.min.js"
      id="instafeed-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/jquery.countdown.min.js"
      id="jquery-countdown-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/jquery.elevatezoom.js"
      id="jquery-elevatezoom-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/jquery.circlestime.js"
      id="jquery-circlestime-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/360imagerotate.js"
      id="360imagerotate-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/sly.min.js"
      id="sly-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/lazysizes.min.js"
      id="lazysizes-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/modernizr.js"
      id="modernizr-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/themes/beaufly/js/functions.js"
      id="beaufly-script-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/js/webpack.runtime.min.js"
      id="elementor-webpack-runtime-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/js/frontend-modules.min.js"
      id="elementor-frontend-modules-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
      id="elementor-waypoints-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js"
      id="swiper-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js"
      id="share-link-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js"
      id="elementor-dialog-js"
    ></script>
    <script type="text/javascript" id="elementor-frontend-js-before">
      var elementorFrontendConfig = {
        environmentMode: {
          edit: false,
          wpPreview: false,
          isScriptDebug: false,
        },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          download: "Download",
          downloadImage: "Download image",
          fullscreen: "Fullscreen",
          zoom: "Zoom",
          share: "Share",
          playVideo: "Play Video",
          previous: "Previous",
          next: "Next",
          close: "Close",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1200, xl: 1440, xxl: 1600 },
        responsive: {
          breakpoints: {
            mobile: {
              label: "Mobile Portrait",
              value: 767,
              default_value: 767,
              direction: "max",
              is_enabled: true,
            },
            mobile_extra: {
              label: "Mobile Landscape",
              value: 880,
              default_value: 880,
              direction: "max",
              is_enabled: false,
            },
            tablet: {
              label: "Tablet Portrait",
              value: 1199,
              default_value: 1024,
              direction: "max",
              is_enabled: true,
            },
            tablet_extra: {
              label: "Tablet Landscape",
              value: 1200,
              default_value: 1200,
              direction: "max",
              is_enabled: false,
            },
            laptop: {
              label: "Laptop",
              value: 1366,
              default_value: 1366,
              direction: "max",
              is_enabled: false,
            },
            widescreen: {
              label: "Widescreen",
              value: 2400,
              default_value: 2400,
              direction: "min",
              is_enabled: false,
            },
          },
        },
        version: "3.13.2",
        is_static: false,
        experimentalFeatures: {
          a11y_improvements: true,
          additional_custom_breakpoints: true,
          "landing-pages": true,
        },
        urls: {
          assets: "wp-content\/plugins\/elementor\/assets\/",
        },
        swiperClass: "swiper-container",
        settings: { page: [], editorPreferences: [] },
        kit: {
          viewport_tablet: 1199,
          active_breakpoints: ["viewport_mobile", "viewport_tablet"],
          global_image_lightbox: "yes",
          lightbox_enable_counter: "yes",
          lightbox_enable_fullscreen: "yes",
          lightbox_enable_zoom: "yes",
          lightbox_enable_share: "yes",
          lightbox_title_src: "title",
          lightbox_description_src: "description",
        },
      }
    </script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/js/frontend.min.js"
      id="elementor-frontend-js"
    ></script>
    <script
      type="text/javascript"
      src="../../wp-content/plugins/elementor/assets/js/preloaded-modules.min.js"
      id="preloaded-modules-js"
    ></script>
  </body>
</html>
