<footer id="bwp-footer" class="bwp-footer footer-2">
  <div class="container">
    <div class="footer__logo">
      <img
        src="{{logo}}"
        class="attachment-large size-large wp-image-45003 mx-auto"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="footer__rights">
      Copyright 2023 Deniz Anası, tüm hakları saklıdır.
    </div>
  </div>
</footer>