      <header id="bwp-header" class="bwp-header header-v2">
        <div class="header-sticky">
          <div class="header-content-sticky">
            <div class="container">
              <div class="header-center__inner header-flex">
                <div class="header-left">
                  <div class="wpbingoLogo">
                    <a href="/index">
                      <img
                        src="{{logo}}"
                        alt="Deniz Anası Logo"
                      />
                    </a>
                  </div>
                </div>
                <div class="header-center__menu text-center">
                  <div class="wpbingo-menu-mobile header-menu">
                    <div class="header-menu-bg">
                      <div class="wpbingo-menu-wrapper">
                        <div class="megamenu">
                          <nav
                            class="navbar-default"
                            style="justify-content: flex-end; display: flex"
                          >
                            <div
                              class="bwp-navigation primary-navigation navbar-mega"
                              data-text_close="Close"
                            >
                              <div class="float-menu">
                                <nav
                                  id="main-navigation"
                                  class="std-menu clearfix"
                                >
                                  <div class="menu-main-menu-container">
                                    <ul id="menu-main-menu" class="menu">
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu  {% if pageName == 'homepage' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/index">
                                          <span class="menu-item-text">
                                            Anasayfa
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu" {% if pageName == 'about' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}
                                      >
                                        <a href="/about">
                                          <span class="menu-item-text">
                                            Hakkımda
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu {% if pageName == 'blog' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/blog">
                                          <span class="menu-item-text">
                                            Blog
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu {% if pageName == 'contact' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/contact">
                                          <span class="menu-item-text">
                                            İletişim
                                          </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </nav>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End header-wrapper -->
        </div>
        <div id="bwp-topbar" class="topbar-v2 hidden-sm hidden-xs">
          <div class="topbar-inner">
            <div class="container">
              <div class="topbar-container">
                <div class="social-link_topbar">
                  <ul class="social-link">
                    {# <li>
                      <a href="home-2#"><i class="fa fa-twitter"></i></a>
                    </li> #}
                    <li>
                      <a
                        href="https://www.instagram.com/denizanasitr"
                        target="_blank"
                        ><i class="fa fa-instagram"></i
                      ></a>
                    </li>
                    {# <li>
                      <a href="home-2#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="home-2#"><i class="fa fa-dribbble"></i></a>
                    </li> #}
                  </ul>
                </div>
                <div class="topbar-right">
                  <div class="contact hidden-xs">
                    <a target="_blank" href="https://www.hommbitkisel.com.tr/yeni-kayit/elif-ceyda-rodoplu-HOMM312543184">Referansımla Kayıt Ol</a>
                  </div>
                  {# <div class="customer">
                    <a href="#0">Referansımla Ürün Al</a>
                  </div> #}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-mobile">
          <div class="container">
            <div class="header-center__inner header-flex">
              <div class="header-left">
                <div class="navbar-header">
                  <button
                    type="button"
                    id="show-megamenu"
                    class="navbar-toggle"
                  >
                    <span>Menu</span>
                  </button>
                </div>
              </div>
              <div class="header-center">
                <div class="wpbingoLogo">
                  <a href="/index">
                    <img
                      src="{{logo}}"
                      alt="Deniz Anası Logo"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-desktop">
          <div class="header-wrapper" data-sticky_header="1">
            <div class="container">
              <div
                class="header-center__inner header-flex justify-content-center"
              >
                <div class="header-center text-center">
                  <div class="wpbingoLogo">
                    <a href="/index">
                      <img
                        src="{{logo}}"
                        alt="Deniz Anası Logo"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-bottom">
            <div class="container">
              <div class="header-container">
                <div class="header-center__menu">
                  <div class="wpbingo-menu-mobile header-menu">
                    <div class="header-menu-bg">
                      <div class="wpbingo-menu-wrapper">
                        <div class="megamenu">
                          <nav class="navbar-default">
                            <div
                              class="bwp-navigation primary-navigation navbar-mega"
                              data-text_close="Close"
                            >
                              <div class="float-menu">
                                <nav
                                  id="main-navigation"
                                  class="std-menu clearfix"
                                >
                                  <div class="menu-main-menu-container">
                                    <ul id="menu-main-menu-1" class="menu">
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home  std-menu {% if pageName == 'homepage' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/index">
                                          <span class="menu-item-text">
                                            Anasayfa
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu {% if pageName == 'about' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/about">
                                          <span class="menu-item-text">
                                            Hakkımda
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu {% if pageName == 'blog' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/blog">
                                          <span class="menu-item-text">
                                            Blog
                                          </span>
                                        </a>
                                      </li>
                                      <li
                                        class="level-0 menu-item-41528 menu-item menu-item-type-post_type menu-item-object-page menu-item-home std-menu {% if pageName == 'contact' %} current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor{% endif %}"
                                      >
                                        <a href="/contact">
                                          <span class="menu-item-text">
                                            İletişim
                                          </span>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </nav>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>