<div id="newsletterpopup" class="bingo-modal newsletterpopup">
  <div class="newsletterpopup_overlay"></div>
  <div class="wp-newsletter">
    <div class="close-popup">
      <span class="close-wrap"
        ><span class="close-line close-line1"></span
        ><span class="close-line close-line2"></span
      ></span>
    </div>
    <div class="image">
      <img
        src="/images/newsletter-img.jpg"
        alt="Image Newsletter"
      />
    </div>
    <aside id="block-3" class="widget clearfix widget_block">
      <p></p>
      <div class="wpcf7 no-js" id="wpcf7-f2264-o2" lang="en-US" dir="ltr">
        <div class="screen-reader-response">
          <p role="status" aria-live="polite" aria-atomic="true"></p>
          <ul></ul>
        </div>
        <div class="wpcf7-form init" data-status="init">
          <div class="wpbingo-newsletter-popup wpbingo-newsletter">
            <div class="content-title">
              <h3 class="title-newsletter">
                Homm Bitkisel'e Referansımla Kayıt ol
              </h3>
              <div class="text-newsletter">
                <p>
                  Referans kodumla
                  <strong>30% indirimleri</strong> kaçırmayın.
                </p>
              </div>
              <a href="./about.html" class="bwp-button-link style_1 bwp-button" role="button">
                <span class="bwp-button-content-wrapper">
                  <span class="bwp-button-icon bwp-align-icon-right">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 1560 1560" style="
                        enable-background: new
                          0 0 512 512;
                      " xml:space="preserve">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <g>
                              <g>
                                <path d="m1524 811.8h-1488c-17.7 0-32-14.3-32-32s14.3-32 32-32h1410.7l-194.2-194.2c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l248.9 248.9c9.2 9.2 11.9 22.9 6.9 34.9-5 11.9-16.7 19.7-29.6 19.7z" fill="" data-original=""></path>
                              </g>
                              <g>
                                <path d="m1274.8 1061c-8.2 0-16.4-3.1-22.6-9.4-12.5-12.5-12.5-32.8 0-45.3l249.2-249.2c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-249.2 249.2c-6.3 6.3-14.5 9.4-22.7 9.4z" fill="" data-original=""></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="bwp-button-text">
                    Hemen Kayıt Ol
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="wpcf7-response-output" aria-hidden="true"></div>
        </div>
      </div>
    </aside>
  </div>
</div>