<div id="newsletterpopup" class="bingo-modal newsletterpopup">
  <div class="newsletterpopup_overlay"></div>
  <div class="wp-newsletter">
    <div class="close-popup">
      <span class="close-wrap"
        ><span class="close-line close-line1"></span
        ><span class="close-line close-line2"></span
      ></span>
    </div>
    <div class="image">
      <img
        src="/images/newsletter-img.png"
        alt="Image Newsletter"
      />
    </div>
    <aside id="block-3" class="widget clearfix widget_block">
      <p></p>
      <div class="wpcf7 no-js" id="wpcf7-f2264-o2" lang="en-US" dir="ltr">
        <div class="screen-reader-response">
          <p role="status" aria-live="polite" aria-atomic="true"></p>
          <ul></ul>
        </div>
        <div class="wpcf7-form init" data-status="init">
          <div class="wpbingo-newsletter-popup wpbingo-newsletter">
            <div class="content-title">
              <h3 class="title-newsletter">
                Homm Bitkisel'e Referansımla Kayıt ol
              </h3>
              <div class="text-newsletter">
                <p>
                  Referans kodumla
                  <strong>30% indirimleri</strong> kaçırmayın.
                </p>
              </div>
              <a href="https://www.hommbitkisel.com.tr/yeni-kayit/elif-ceyda-rodoplu-HOMM312543184" target="_blank" class="bwp-button-link style_1 bwp-button" role="button">
                <span class="bwp-button-content-wrapper">
                  <span class="bwp-button-text">
                    Hemen Kayıt Ol
                  </span>
                </span>
              </a>
            </div>
          </div>
          <div class="wpcf7-response-output" aria-hidden="true"></div>
        </div>
      </div>
    </aside>
  </div>
</div>