.elementor-9019 .elementor-element.elementor-element-26dd8b5 {
  margin-top: 0px;
  margin-bottom: 30px;
}
.elementor-9019
  .elementor-element.elementor-element-146c539
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9019 .elementor-element.elementor-element-1d25060 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-9019
  .elementor-element.elementor-element-078412d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9019
  .elementor-element.elementor-element-fff9991
  .bwp-widget-banner {
  text-align: center;
}
.elementor-9019
  .elementor-element.elementor-element-fff9991
  .bwp-widget-banner
  .title-banner {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9019
  .elementor-element.elementor-element-fff9991
  .bwp-widget-banner
  .bwp-image-subtitle {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.elementor-9019
  .elementor-element.elementor-element-fff9991
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 20px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-fff9991
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: center;
  display: flex;
}
.elementor-9019
  .elementor-element.elementor-element-3d54675
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .item-product-cat-content {
  text-align: center;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .bwp-woo-categories
  .item-title {
  font-family: "Gantari", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .bwp-woo-categories
  .item-count {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .bwp-woo-categories
  .item-product-cat-content
  > a
  > div {
  margin: 0px 0px 15px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .bwp-woo-categories
  .product-cat-content-info {
  justify-content: center;
  display: flex;
}
.elementor-9019
  .elementor-element.elementor-element-34e85bc
  .bwp-woo-categories
  .slick-dots {
  text-align: center;
}
.elementor-9019 .elementor-element.elementor-element-c8b4975 {
  margin-top: 0px;
  margin-bottom: 60px;
}
.elementor-9019
  .elementor-element.elementor-element-6f18ab4
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9019 .elementor-element.elementor-element-f36ba85 {
  text-align: center;
}
.elementor-9019
  .elementor-element.elementor-element-f36ba85
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-9019 .elementor-element.elementor-element-743151f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9019
  .elementor-element.elementor-element-743151f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9019
  .elementor-element.elementor-element-904d556
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9019
  .elementor-element.elementor-element-88822a6:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9019
  .elementor-element.elementor-element-88822a6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2023/03/background-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-9019 .elementor-element.elementor-element-88822a6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 180px 0px 110px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-88822a6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9019
  .elementor-element.elementor-element-5470865
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 210px;
}
.elementor-9019
  .elementor-element.elementor-element-4d3d958
  .elementor-heading-title {
  font-family: "Gantari", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-9019
  .elementor-element.elementor-element-4d3d958
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-c39cc60
  .elementor-heading-title {
  font-size: 35px;
}
.elementor-9019
  .elementor-element.elementor-element-c39cc60
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-9019 .elementor-element.elementor-element-83ba738 {
  font-size: 16px;
}
.elementor-9019
  .elementor-element.elementor-element-83ba738
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  background-color: #ffffff;
  border-radius: 3px 3px 3px 3px;
  padding: 0px 30px 0px 30px;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9019 .elementor-element.elementor-element-93fa14a .bwp-button:focus {
  color: #ffffff;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button:focus
  svg {
  fill: #ffffff;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.default:hover {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_1:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_1:after {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_2:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_3:before {
  border-color: transparent transparent transparent #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_3:after {
  border-color: transparent #204e93 transparent transparent;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_4:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_4:after {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_5:before {
  border-color: #204e93;
  border-radius: 3px 3px 3px 3px;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_5:after {
  border-color: #204e93;
  border-radius: 3px 3px 3px 3px;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_6:hover {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_7:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_8:before {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_8:after {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_9:hover {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_10:hover {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button.style_11:hover {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-93fa14a
  .bwp-button-widget
  .bwp-button:focus {
  background-color: #204e93;
}
.elementor-9019
  .elementor-element.elementor-element-fa4dc02
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9019 .elementor-element.elementor-element-ec838e5 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-9019
  .elementor-element.elementor-element-f477853
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9019 .elementor-element.elementor-element-ad0a076 {
  text-align: center;
}
.elementor-9019
  .elementor-element.elementor-element-ad0a076
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9019
  .elementor-element.elementor-element-ad0a076
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-9019
  .elementor-element.elementor-element-248762f
  .bwp-recent-post
  .post-inner {
  text-align: center;
}
.elementor-9019
  .elementor-element.elementor-element-248762f
  .bwp-recent-post
  .entry-title {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 0;
}
.elementor-9019
  .elementor-element.elementor-element-248762f
  .bwp-recent-post
  .btn-read-more
  a {
  font-size: 16px;
  font-weight: 400;
}
.elementor-9019
  .elementor-element.elementor-element-248762f
  .bwp-recent-post
  .post-image {
  margin: 0px 0px 25px 0px;
}
@media (min-width: 768px) {
  .elementor-9019 .elementor-element.elementor-element-5470865 {
    width: 38.227%;
  }
  .elementor-9019 .elementor-element.elementor-element-fa4dc02 {
    width: 61.773%;
  }
}
@media (max-width: 1199px) {
  .elementor-9019 .elementor-element.elementor-element-1d25060 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9019
    .elementor-element.elementor-element-078412d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9019
    .elementor-element.elementor-element-3d54675
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9019
    .elementor-element.elementor-element-5470865
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 50px;
  }
  .elementor-9019
    .elementor-element.elementor-element-c39cc60
    .elementor-heading-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-9019
    .elementor-element.elementor-element-078412d
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9019 .elementor-element.elementor-element-88822a6 {
    padding: 140px 0px 100px 0px;
  }
  .elementor-9019
    .elementor-element.elementor-element-5470865
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-9019 .elementor-element.elementor-element-4d3d958 {
    text-align: center;
  }
  .elementor-9019 .elementor-element.elementor-element-c39cc60 {
    text-align: center;
  }
  .elementor-9019 .elementor-element.elementor-element-83ba738 {
    text-align: center;
  }
}
