.elementor-15115 .elementor-element.elementor-element-1d481f7 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-15115
  .elementor-element.elementor-element-cf30c02
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-view-stacked
  .elementor-icon {
  background-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-view-framed
  .elementor-icon,
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-view-default
  .elementor-icon {
  fill: #204e93;
  color: #204e93;
  border-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280
  .bwp-icon-box-icon.have-animation
  svg {
  stroke: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-15115 .elementor-element.elementor-element-d2af280 .elementor-icon {
  font-size: 20px;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280
  .elementor-icon-box-title,
.elementor-15115
  .elementor-element.elementor-element-d2af280
  .elementor-icon-box-title
  a {
  font-size: 22px;
  font-weight: 600;
}
.elementor-15115
  .elementor-element.elementor-element-d2af280
  .elementor-icon-box-description {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.elementor-15115
  .elementor-element.elementor-element-8c8ee88
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-view-stacked
  .elementor-icon {
  background-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-view-framed
  .elementor-icon,
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-view-default
  .elementor-icon {
  fill: #204e93;
  color: #204e93;
  border-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6
  .bwp-icon-box-icon.have-animation
  svg {
  stroke: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-15115 .elementor-element.elementor-element-0829fe6 .elementor-icon {
  font-size: 20px;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6
  .elementor-icon-box-title,
.elementor-15115
  .elementor-element.elementor-element-0829fe6
  .elementor-icon-box-title
  a {
  font-size: 22px;
  font-weight: 600;
}
.elementor-15115
  .elementor-element.elementor-element-0829fe6
  .elementor-icon-box-description {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.elementor-15115
  .elementor-element.elementor-element-5ea3e93
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-view-stacked
  .elementor-icon {
  background-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-view-framed
  .elementor-icon,
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-view-default
  .elementor-icon {
  fill: #204e93;
  color: #204e93;
  border-color: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86
  .bwp-icon-box-icon.have-animation
  svg {
  stroke: #204e93;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-15115 .elementor-element.elementor-element-a578c86 .elementor-icon {
  font-size: 20px;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86
  .elementor-icon-box-title,
.elementor-15115
  .elementor-element.elementor-element-a578c86
  .elementor-icon-box-title
  a {
  font-size: 22px;
  font-weight: 600;
}
.elementor-15115
  .elementor-element.elementor-element-a578c86
  .elementor-icon-box-description {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.elementor-15115 .elementor-element.elementor-element-d7db315 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.elementor-15115
  .elementor-element.elementor-element-55289ce
  > .elementor-element-populated {
  margin: 50px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-15115
  .elementor-element.elementor-element-55289ce
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-15115
  .elementor-element.elementor-element-0a75148
  .elementor-heading-title {
  font-size: 25px;
  font-weight: 600;
}
.elementor-15115
  .elementor-element.elementor-element-93a4430
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-15115
  .elementor-element.elementor-element-daf1274
  > .elementor-element-populated {
  margin: 50px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-15115
  .elementor-element.elementor-element-daf1274
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-15115 .elementor-element.elementor-element-0be401f iframe {
  height: 523px;
}
@media (max-width: 1199px) {
  .elementor-15115 .elementor-element.elementor-element-1d481f7 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115
    .elementor-element.elementor-element-cf30c02
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115
    .elementor-element.elementor-element-8c8ee88
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115
    .elementor-element.elementor-element-5ea3e93
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115 .elementor-element.elementor-element-d7db315 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115
    .elementor-element.elementor-element-55289ce
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-15115
    .elementor-element.elementor-element-0a75148
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-15115
    .elementor-element.elementor-element-daf1274
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
}
@media (max-width: 767px) {
  .elementor-15115
    .elementor-element.elementor-element-cf30c02
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-d2af280.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-d2af280.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-d2af280.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-8c8ee88
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-0829fe6.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-0829fe6.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-0829fe6.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-5ea3e93
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-a578c86.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-a578c86.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 0px;
  }
  .elementor-15115
    .elementor-element.elementor-element-a578c86.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 0px;
  }
}
