.elementor-31626 .elementor-element.elementor-element-1b11f06 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-31626
  .elementor-element.elementor-element-564c2b2
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-31626 .elementor-element.elementor-element-04d8b57 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-31626
  .elementor-element.elementor-element-dac537e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626
  .elementor-element.elementor-element-016300a
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-016300a
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-31626
  .elementor-element.elementor-element-db2b8ae
  .bwp-slider
  .button-slider {
  font-size: 20px;
  font-weight: 400;
}
.elementor-31626
  .elementor-element.elementor-element-db2b8ae
  .bwp-slider
  .content-image {
  margin: 0px 0px 15px 0px;
}
.elementor-31626
  .elementor-element.elementor-element-db2b8ae
  .bwp-slider
  .content-image
  > a
  img {
  border-radius: 50% 50% 50% 50%;
}
.elementor-31626 .elementor-element.elementor-element-ef8341c {
  margin-top: 0px;
  margin-bottom: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-de36649
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626 .elementor-element.elementor-element-7b3e1a8 {
  text-align: left;
}
.elementor-31626
  .elementor-element.elementor-element-7b3e1a8
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-bde6893
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626
  .elementor-element.elementor-element-befd0f9
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 400;
}
.elementor-31626 .elementor-element.elementor-element-d4071d8 {
  margin-top: 0px;
  margin-bottom: 55px;
}
.elementor-31626
  .elementor-element.elementor-element-bd051e4
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626 .elementor-element.elementor-element-2775ac5 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-31626
  .elementor-element.elementor-element-2c6603c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .title-banner {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 20px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .bwp-image-subtitle {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 600;
  line-height: 42px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 30px 0px 30px;
  background-color: #ffffff;
}
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .button:hover,
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .button:focus {
  color: #ffffff;
  background-color: #204e93;
}
.elementor-31626
  .elementor-element.elementor-element-ad16a76
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 15px 0px 60px;
}
.elementor-31626
  .elementor-element.elementor-element-cc7e164
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .title-banner {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .bwp-image-description {
  font-size: 16px;
  margin-bottom: 25px;
}
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 600;
  line-height: 42px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 30px 0px 30px;
  background-color: #ffffff;
}
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .button:hover,
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .button:focus {
  color: #ffffff;
  background-color: #204e93;
}
.elementor-31626
  .elementor-element.elementor-element-32b258c
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
  bottom: 0;
  transform: translateY(0);
  top: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 15px 70px 50px;
}
.elementor-31626 .elementor-element.elementor-element-6a80e6d {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-31626
  .elementor-element.elementor-element-8777bcc
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626 .elementor-element.elementor-element-3ba941a {
  text-align: center;
}
.elementor-31626
  .elementor-element.elementor-element-3ba941a
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-3ba941a
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-customer-name {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-job {
  font-size: 16px;
  margin-bottom: 0px;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .post-excerpt {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image
  .thumbnail
  img {
  width: 120px;
  height: 120px;
  border-radius: 50% 50% 50% 50%;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  width: 120px;
  height: 120px;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image {
  display: flex;
  align-items: center;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image.image-position-top
  .testimonial-info {
  width: 100%;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image.image-position-top
  .thumbnail
  img {
  margin: auto;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image.image-position-top {
  flex-wrap: wrap;
  justify-content: center;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image.image-position-right
  .thumbnail {
  order: 2;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  margin: 0px 0px 35px 0px;
}
.elementor-31626
  .elementor-element.elementor-element-f2b3869
  .bwp-testimonial
  .slick-dots {
  text-align: center;
}
.elementor-31626 .elementor-element.elementor-element-81b8874 {
  margin-top: 0px;
  margin-bottom: 55px;
}
.elementor-31626
  .elementor-element.elementor-element-ddd315f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .title-block
  h2 {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li.active
  span {
  color: #204e93;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span {
  font-size: 18px;
  font-weight: 400;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li {
  padding: 0px 0px 0px 40px;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .bwp-filter-heading {
  margin-bottom: 35px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-114ddc4
  .bwp-filter-homepage
  .category-tab-nav {
  justify-content: space-between;
  display: flex;
}
.elementor-31626 .elementor-element.elementor-element-0bcede7 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-31626
  .elementor-element.elementor-element-9fadd97
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31626 .elementor-element.elementor-element-7c0d84a {
  text-align: center;
}
.elementor-31626
  .elementor-element.elementor-element-7c0d84a
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31626
  .elementor-element.elementor-element-7c0d84a
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-31626
  .elementor-element.elementor-element-011bfba
  .bwp-recent-post
  .post-inner {
  text-align: center;
}
.elementor-31626
  .elementor-element.elementor-element-011bfba
  .bwp-recent-post
  .entry-title {
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 0;
}
.elementor-31626
  .elementor-element.elementor-element-011bfba
  .bwp-recent-post
  .btn-read-more
  a {
  font-size: 16px;
  font-weight: 400;
}
.elementor-31626
  .elementor-element.elementor-element-011bfba
  .bwp-recent-post
  .post-image {
  margin: 0px 0px 25px 0px;
}
@media (max-width: 1199px) {
  .elementor-31626 .elementor-element.elementor-element-2775ac5 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-31626
    .elementor-element.elementor-element-2c6603c
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-31626
    .elementor-element.elementor-element-cc7e164
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-31626
    .elementor-element.elementor-element-f2b3869
    .bwp-testimonial
    .post-excerpt {
    font-size: 22px;
  }
  .elementor-31626
    .elementor-element.elementor-element-114ddc4
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li {
    padding: 0px 0px 0px 20px;
  }
  .elementor-31626
    .elementor-element.elementor-element-114ddc4
    .bwp-filter-homepage
    .bwp-filter-heading {
    margin-bottom: 35px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .elementor-31626
    .elementor-element.elementor-element-564c2b2
    > .elementor-element-populated {
    margin: 0px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31626
    .elementor-element.elementor-element-564c2b2
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-31626
    .elementor-element.elementor-element-de36649
    > .elementor-element-populated {
    margin: 0px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31626 .elementor-element.elementor-element-7b3e1a8 {
    text-align: center;
  }
  .elementor-31626
    .elementor-element.elementor-element-2c6603c
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31626
    .elementor-element.elementor-element-ad16a76
    .bwp-widget-banner
    .banner-wrapper-infor {
    padding: 0px 15px 0px 15px;
  }
  .elementor-31626
    .elementor-element.elementor-element-32b258c
    .bwp-widget-banner
    .bwp-image-description {
    margin-bottom: 20px;
  }
  .elementor-31626
    .elementor-element.elementor-element-32b258c
    .bwp-widget-banner
    .banner-wrapper-infor {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0px 15px 0px 15px;
  }
  .elementor-31626
    .elementor-element.elementor-element-f2b3869
    .bwp-testimonial
    .post-excerpt {
    font-size: 18px;
    line-height: 30px;
  }
  .elementor-31626
    .elementor-element.elementor-element-114ddc4
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li {
    padding: 0px 0px 0px 15px;
  }
}
