.elementor-9601 .elementor-element.elementor-element-9dbf05e {
  margin-top: 0px;
  margin-bottom: 100px;
}
.elementor-9601
  .elementor-element.elementor-element-e7edb27
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9601 .elementor-element.elementor-element-47856de {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-9601
  .elementor-element.elementor-element-9ad8a6f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-769c81e
  .bwp-widget-banner
  .title-banner {
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-769c81e
  .bwp-widget-banner
  .button {
  font-size: 16px;
  line-height: 32px;
  padding: 0px 15px 0px 15px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-769c81e
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
  top: 0;
  transform: translateY(0);
  bottom: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 0px 0px 10px;
}
.elementor-9601
  .elementor-element.elementor-element-b5a83fb
  > .elementor-element-populated {
  margin: 60px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-9601
  .elementor-element.elementor-element-b5a83fb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-7c3cf75 {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-7c3cf75
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601
  .elementor-element.elementor-element-7c3cf75
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-7e8482d
  > .elementor-container {
  max-width: 175px;
}
.elementor-9601 .elementor-element.elementor-element-7e8482d {
  margin-top: 0px;
  margin-bottom: 43px;
}
.elementor-9601
  .elementor-element.elementor-element-e93aa95
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #00000066;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-9601
  .elementor-element.elementor-element-e93aa95
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9601
  .elementor-element.elementor-element-e93aa95
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 15px 15px 15px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .item-title
  a {
  color: #737373;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .info:hover
  .item-title
  a {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .item-title {
  font-family: "Gantari", Sans-serif;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .item-count {
  color: #737373;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .info:hover
  .item-count {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .product-cat-content-info {
  justify-content: center;
  display: flex;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .slick-dots {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-b45efb9
  .bwp-woo-categories
  .item-product-cat-content {
  margin: 5px 0px 5px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 3px;
  position: relative;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 600;
  fill: #000000;
  color: #000000;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button
  svg {
  width: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9601 .elementor-element.elementor-element-95e34c7 .bwp-button:focus {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9601
  .elementor-element.elementor-element-95e34c7
  .bwp-button:focus
  svg {
  fill: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-f6d4997
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .button.bwp-align-icon-right
  .bwp-button-icon {
  margin-left: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .button.bwp-align-icon-left
  .bwp-button-icon {
  margin-right: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .button.bwp-align-icon-right
  .bwp-button-icon
  i {
  font-size: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .title-banner {
  font-size: 35px;
  margin-bottom: 5px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .bwp-image-description {
  font-size: 16px;
  margin-bottom: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 600;
}
.elementor-9601
  .elementor-element.elementor-element-0e845f9
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
  bottom: 0;
  transform: translateY(0);
  top: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 0px 35px 105px;
}
.elementor-9601 .elementor-element.elementor-element-504d994 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-9601
  .elementor-element.elementor-element-be5098f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span {
  color: #00000099;
  font-size: 30px;
  font-family: "IvyMode Regular", serif;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span:hover {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li.active
  span {
  color: #204e93;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li {
  padding: 0px 30px 0px 30px;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .bwp-filter-heading {
  margin-bottom: 30px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-38287c7
  .bwp-filter-homepage
  .category-tab-nav {
  justify-content: center;
  display: flex;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 3px;
  position: relative;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 600;
  fill: #000000;
  color: #000000;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button
  svg {
  width: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9601 .elementor-element.elementor-element-633ca22 .bwp-button:focus {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9601
  .elementor-element.elementor-element-633ca22
  .bwp-button:focus
  svg {
  fill: #ce9257;
}
.elementor-9601 .elementor-element.elementor-element-a7bb5ef {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9601
  .elementor-element.elementor-element-0b46b0d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-b5faa96
  > .elementor-container {
  max-width: 1260px;
}
.elementor-9601
  .elementor-element.elementor-element-b5faa96:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9601
  .elementor-element.elementor-element-b5faa96
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff5ec;
}
.elementor-9601 .elementor-element.elementor-element-b5faa96 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 55px 0px 55px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-b5faa96
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-9601
  .elementor-element.elementor-element-85a3e75.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-9601
  .elementor-element.elementor-element-85a3e75.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-9601
  .elementor-element.elementor-element-85a3e75
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 30px;
}
.elementor-9601
  .elementor-element.elementor-element-9df7486
  .elementor-heading-title {
  font-size: 45px;
}
.elementor-9601
  .elementor-element.elementor-element-9df7486
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-9601 .elementor-element.elementor-element-2c37ff5 {
  font-size: 18px;
}
.elementor-9601
  .elementor-element.elementor-element-2c37ff5
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 10px;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 600;
  fill: #000000;
  color: #000000;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button
  svg {
  width: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9601 .elementor-element.elementor-element-711ca0f .bwp-button:focus {
  color: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9601
  .elementor-element.elementor-element-711ca0f
  .bwp-button:focus
  svg {
  fill: #ce9257;
}
.elementor-9601
  .elementor-element.elementor-element-ac3d619
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-5943451
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-9601
  .elementor-element.elementor-element-a6a39df
  > .elementor-widget-container {
  padding: 0px 0px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-a6a39df {
  width: auto;
  max-width: auto;
  bottom: 0px;
}
body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-a6a39df {
  left: -15%;
}
body.rtl .elementor-9601 .elementor-element.elementor-element-a6a39df {
  right: -15%;
}
.elementor-9601 .elementor-element.elementor-element-5c667fc {
  width: auto;
  max-width: auto;
  top: -50px;
}
body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-5c667fc {
  right: -45px;
}
body.rtl .elementor-9601 .elementor-element.elementor-element-5c667fc {
  left: -45px;
}
.elementor-9601 .elementor-element.elementor-element-d161193 {
  margin-top: 0px;
  margin-bottom: 40px;
}
.elementor-9601
  .elementor-element.elementor-element-6529c7e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-fc8646b {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-fc8646b
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601 .elementor-element.elementor-element-98e5567 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-9601
  .elementor-element.elementor-element-cc58947
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-8daba7a
  .bwp-widget-banner {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-8daba7a
  .bwp-widget-banner
  .button {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.elementor-9601
  .elementor-element.elementor-element-8daba7a
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 15px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-8daba7a
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: center;
  display: flex;
}
.elementor-9601
  .elementor-element.elementor-element-0315ce7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-10eabd4
  .bwp-widget-banner {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-10eabd4
  .bwp-widget-banner
  .button {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.elementor-9601
  .elementor-element.elementor-element-10eabd4
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 15px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-10eabd4
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: center;
  display: flex;
}
.elementor-9601
  .elementor-element.elementor-element-5776b1d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-9f69e3f
  .bwp-widget-banner {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-9f69e3f
  .bwp-widget-banner
  .button {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.elementor-9601
  .elementor-element.elementor-element-9f69e3f
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 15px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-9f69e3f
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: center;
  display: flex;
}
.elementor-9601 .elementor-element.elementor-element-429915f {
  margin-top: 0px;
  margin-bottom: 65px;
}
.elementor-9601
  .elementor-element.elementor-element-ebae7c5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-3db0926 {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-3db0926
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601
  .elementor-element.elementor-element-3db0926
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-9601 .elementor-element.elementor-element-4644f87 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9601
  .elementor-element.elementor-element-f7359c0
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601
  .elementor-element.elementor-element-c8cb8be:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9601
  .elementor-element.elementor-element-c8cb8be
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf7f4;
}
.elementor-9601 .elementor-element.elementor-element-c8cb8be {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 35px 50px 35px;
}
.elementor-9601
  .elementor-element.elementor-element-c8cb8be
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9601
  .elementor-element.elementor-element-d0a78b5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-fe3c013 {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-fe3c013
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601
  .elementor-element.elementor-element-fe3c013
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-9601 .elementor-element.elementor-element-09d1e4a .bwp-testimonial {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-title {
  color: #d19a63;
  font-size: 50px;
  font-family: "Natalie";
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-title-content {
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-customer-name {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .post-excerpt {
  font-size: 18px;
  margin-bottom: 20px;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image
  .thumbnail
  img {
  width: 80px;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  width: 80px;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image {
  display: flex;
  align-items: center;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image.image-position-top
  .testimonial-info {
  width: 100%;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image.image-position-top
  .thumbnail
  img {
  margin: auto;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image.image-position-top {
  flex-wrap: wrap;
  justify-content: center;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image.image-position-right
  .thumbnail {
  order: 2;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  margin: 0px 0px 0px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .slick-dots {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-09d1e4a
  .bwp-testimonial
  .testimonial-content
  .item {
  padding: 0px 150px 0px 150px;
}
.elementor-9601 .elementor-element.elementor-element-09d1e4a {
  z-index: 2;
}
.elementor-9601 .elementor-element.elementor-element-d267ef4 {
  width: auto;
  max-width: auto;
  bottom: 25px;
}
body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-d267ef4 {
  left: 15px;
}
body.rtl .elementor-9601 .elementor-element.elementor-element-d267ef4 {
  right: 15px;
}
.elementor-9601 .elementor-element.elementor-element-f4463b3 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-f4463b3 {
  right: 75px;
}
body.rtl .elementor-9601 .elementor-element.elementor-element-f4463b3 {
  left: 75px;
}
.elementor-9601 .elementor-element.elementor-element-2fa0ec4 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-9601
  .elementor-element.elementor-element-7d79373
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9601 .elementor-element.elementor-element-d4456df {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-d4456df
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601
  .elementor-element.elementor-element-d4456df
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .entry-title {
  font-size: 18px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .post-categories
  a {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .post-categories {
  margin-bottom: 5px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .post-excerpt {
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .btn-read-more
  a {
  font-size: 16px;
  font-weight: 600;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .post-image {
  margin: 0px 0px 15px 0px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .slick-list {
  margin: 0px -20px 0px -20px;
}
.elementor-9601
  .elementor-element.elementor-element-3ce34ee
  .bwp-recent-post
  .slick-list
  .slick-slide {
  padding: 0px 20px 0px 20px;
}
.elementor-9601
  .elementor-element.elementor-element-f0efa9b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9601 .elementor-element.elementor-element-8a7e262 {
  text-align: center;
}
.elementor-9601
  .elementor-element.elementor-element-8a7e262
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9601
  .elementor-element.elementor-element-8a7e262
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
@media (max-width: 1199px) {
  .elementor-9601 .elementor-element.elementor-element-47856de {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-9ad8a6f
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-b5a83fb
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9601
    .elementor-element.elementor-element-b5a83fb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-f6d4997
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-0e845f9
    .bwp-widget-banner
    .banner-wrapper-infor {
    padding: 0px 0px 35px 15px;
  }
  .elementor-9601 .elementor-element.elementor-element-504d994 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-be5098f
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601 .elementor-element.elementor-element-a7bb5ef {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-0b46b0d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601 .elementor-element.elementor-element-a6a39df img {
    width: 0%;
  }
  body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-5c667fc {
    right: 25px;
  }
  body.rtl .elementor-9601 .elementor-element.elementor-element-5c667fc {
    left: 25px;
  }
  .elementor-9601 .elementor-element.elementor-element-5c667fc {
    top: -25px;
  }
  .elementor-9601 .elementor-element.elementor-element-98e5567 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-cc58947
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-0315ce7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-5776b1d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601 .elementor-element.elementor-element-4644f87 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-f7359c0
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601 .elementor-element.elementor-element-c8cb8be {
    padding: 50px 5px 30px 15px;
  }
  .elementor-9601
    .elementor-element.elementor-element-d0a78b5
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-09d1e4a
    .bwp-testimonial
    .testimonial-content
    .item {
    padding: 0px 50px 0px 50px;
  }
  .elementor-9601 .elementor-element.elementor-element-2fa0ec4 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-7d79373
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-3ce34ee
    .bwp-recent-post
    .slick-list {
    margin: 0px -7.5px 0px -7.5px;
  }
  .elementor-9601
    .elementor-element.elementor-element-3ce34ee
    .bwp-recent-post
    .slick-list
    .slick-slide {
    padding: 0px 7.5px 0px 7.5px;
  }
}
@media (max-width: 767px) {
  .elementor-9601
    .elementor-element.elementor-element-b5a83fb
    > .elementor-element-populated {
    margin: 30px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9601
    .elementor-element.elementor-element-0e845f9
    .bwp-widget-banner {
    text-align: center;
  }
  .elementor-9601
    .elementor-element.elementor-element-0e845f9
    .bwp-widget-banner
    .banner-wrapper-infor {
    justify-content: center;
    display: flex;
    padding: 0px 15px 35px 15px;
  }
  .elementor-9601
    .elementor-element.elementor-element-38287c7
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li
    span {
    font-size: 25px;
  }
  .elementor-9601
    .elementor-element.elementor-element-38287c7
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li {
    padding: 0px 20px 0px 0px;
  }
  .elementor-9601
    .elementor-element.elementor-element-85a3e75
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9601 .elementor-element.elementor-element-9df7486 {
    text-align: center;
  }
  .elementor-9601
    .elementor-element.elementor-element-9df7486
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-9601 .elementor-element.elementor-element-2c37ff5 {
    text-align: center;
  }
  .elementor-9601 .elementor-element.elementor-element-a6a39df {
    width: auto;
    max-width: auto;
    bottom: -15%;
  }
  body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-a6a39df {
    left: 0%;
  }
  body.rtl .elementor-9601 .elementor-element.elementor-element-a6a39df {
    right: 0%;
  }
  .elementor-9601 .elementor-element.elementor-element-5c667fc img {
    width: 100px;
  }
  body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-5c667fc {
    right: 8%;
  }
  body.rtl .elementor-9601 .elementor-element.elementor-element-5c667fc {
    left: 8%;
  }
  .elementor-9601
    .elementor-element.elementor-element-cc58947
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9601
    .elementor-element.elementor-element-0315ce7
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9601 .elementor-element.elementor-element-c8cb8be {
    padding: 50px 0px 30px 0px;
  }
  .elementor-9601
    .elementor-element.elementor-element-09d1e4a
    .bwp-testimonial
    .testimonial-content
    .item {
    padding: 0px 15px 0px 15px;
  }
  body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-d267ef4 {
    left: 5px;
  }
  body.rtl .elementor-9601 .elementor-element.elementor-element-d267ef4 {
    right: 5px;
  }
  .elementor-9601 .elementor-element.elementor-element-d267ef4 {
    bottom: 10px;
  }
  body:not(.rtl) .elementor-9601 .elementor-element.elementor-element-f4463b3 {
    right: 10px;
  }
  body.rtl .elementor-9601 .elementor-element.elementor-element-f4463b3 {
    left: 10px;
  }
}
