.elementor-31665 .elementor-element.elementor-element-942aec8 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-31665
  .elementor-element.elementor-element-375fac5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665 .elementor-element.elementor-element-9c2adb1 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-31665
  .elementor-element.elementor-element-4362478
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665 .elementor-element.elementor-element-25e8a5a {
  text-align: center;
}
.elementor-31665
  .elementor-element.elementor-element-25e8a5a
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31665
  .elementor-element.elementor-element-25e8a5a
  > .elementor-widget-container {
  margin: 0px 0px 50px 0px;
}
.elementor-31665
  .elementor-element.elementor-element-5b133cd
  .bwp-slider
  .button-slider {
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 50px 15px 50px;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
}
.elementor-31665
  .elementor-element.elementor-element-5b133cd
  .bwp-slider
  .button-slider
  span {
  font-family: "IvyMode Regular", serif;
}
.elementor-31665
  .elementor-element.elementor-element-5b133cd
  .bwp-slider
  .button-slider:hover,
.elementor-31665
  .elementor-element.elementor-element-5b133cd
  .bwp-slider
  .button-slider:focus {
  color: #ffffff;
  background-color: #204e93;
}
.elementor-31665 .elementor-element.elementor-element-5804fbc {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-31665
  .elementor-element.elementor-element-74b1356
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665
  .elementor-element.elementor-element-de832b8
  .bwp-widget-banner
  .bwp-image
  img {
  border-radius: 45px 45px 45px 45px;
}
.elementor-31665
  .elementor-element.elementor-element-de832b8
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-31665 .elementor-element.elementor-element-0ddba0b img {
  border-radius: 45px 45px 45px 45px;
}
.elementor-31665 .elementor-element.elementor-element-0ddba0b {
  width: auto;
  max-width: auto;
  bottom: 0px;
}
body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-0ddba0b {
  right: -30%;
}
body.rtl .elementor-31665 .elementor-element.elementor-element-0ddba0b {
  left: -30%;
}
.elementor-bc-flex-widget
  .elementor-31665
  .elementor-element.elementor-element-65442a7.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-31665
  .elementor-element.elementor-element-65442a7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31665
  .elementor-element.elementor-element-65442a7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 350px;
}
.elementor-31665 .elementor-element.elementor-element-59db5c1 {
  text-align: left;
}
.elementor-31665
  .elementor-element.elementor-element-59db5c1
  .elementor-heading-title {
  font-size: 35px;
}
.elementor-31665
  .elementor-element.elementor-element-59db5c1
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-31665 .elementor-element.elementor-element-af4e8b3 {
  font-size: 18px;
}
.elementor-31665
  .elementor-element.elementor-element-af4e8b3
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  line-height: 48px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 40px 0px 40px;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button:hover,
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button:focus {
  color: #ffffff;
  border-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button:focus
  svg {
  fill: #ffffff;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.default:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_1:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_1:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_2:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_3:before {
  border-color: transparent transparent transparent #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_3:after {
  border-color: transparent #204e93 transparent transparent;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_4:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_4:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_5:before {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_5:after {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_6:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_7:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_8:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_8:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_9:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_10:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button.style_11:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-7c18330
  .bwp-button-widget
  .bwp-button:focus {
  background-color: #204e93;
}
.elementor-31665 .elementor-element.elementor-element-5a0c76a {
  margin-top: 0px;
  margin-bottom: 55px;
}
.elementor-31665
  .elementor-element.elementor-element-4ae395c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading {
  text-align: center;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span {
  color: #00000099;
  font-size: 30px;
  font-family: "IvyMode Regular", serif;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span:hover {
  color: #ce9257;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li.active
  span {
  color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li {
  padding: 0px 30px 0px 30px;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .bwp-filter-heading {
  margin-bottom: 30px;
  margin-top: 0;
}
.elementor-31665
  .elementor-element.elementor-element-1c0b261
  .bwp-filter-homepage
  .category-tab-nav {
  justify-content: flex-start;
  display: flex;
}
.elementor-31665 .elementor-element.elementor-element-4119caf {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-31665
  .elementor-element.elementor-element-3476abb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665 .elementor-element.elementor-element-8e666e3 {
  text-align: center;
}
.elementor-31665
  .elementor-element.elementor-element-8e666e3
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31665
  .elementor-element.elementor-element-8e666e3
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-customer-name {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-job {
  font-size: 16px;
  margin-bottom: 0px;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .post-excerpt {
  color: #000000;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image
  .thumbnail
  img {
  width: 120px;
  height: 120px;
  border-radius: 50% 50% 50% 50%;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  width: 120px;
  height: 120px;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image {
  display: flex;
  align-items: center;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image.image-position-top
  .testimonial-info {
  width: 100%;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image.image-position-top
  .thumbnail
  img {
  margin: auto;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image.image-position-top {
  flex-wrap: wrap;
  justify-content: center;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image.image-position-right
  .thumbnail {
  order: 2;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  margin: 0px 0px 35px 0px;
}
.elementor-31665
  .elementor-element.elementor-element-e89cdc6
  .bwp-testimonial
  .slick-dots {
  text-align: center;
}
.elementor-31665 .elementor-element.elementor-element-216b559 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-bc-flex-widget
  .elementor-31665
  .elementor-element.elementor-element-4bcf80b.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-31665
  .elementor-element.elementor-element-4bcf80b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-31665
  .elementor-element.elementor-element-4bcf80b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665
  .elementor-element.elementor-element-5bf1ed1
  .elementor-heading-title {
  font-size: 35px;
}
.elementor-31665
  .elementor-element.elementor-element-5bf1ed1
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-31665 .elementor-element.elementor-element-dd7552e {
  font-size: 18px;
}
.elementor-31665
  .elementor-element.elementor-element-dd7552e
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  line-height: 48px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 40px 0px 40px;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button:hover,
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button:focus {
  color: #ffffff;
  border-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button:focus
  svg {
  fill: #ffffff;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.default:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_1:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_1:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_2:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_3:before {
  border-color: transparent transparent transparent #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_3:after {
  border-color: transparent #204e93 transparent transparent;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_4:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_4:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_5:before {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_5:after {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_6:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_7:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_8:before {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_8:after {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_9:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_10:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button.style_11:hover {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-4dc2d92
  .bwp-button-widget
  .bwp-button:focus {
  background-color: #204e93;
}
.elementor-31665
  .elementor-element.elementor-element-3543da7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-31665 .elementor-element.elementor-element-874bd76 img {
  border-radius: 45px 45px 45px 45px;
}
.elementor-31665 .elementor-element.elementor-element-874bd76 {
  width: auto;
  max-width: auto;
  top: 25%;
}
body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-874bd76 {
  left: -30%;
}
body.rtl .elementor-31665 .elementor-element.elementor-element-874bd76 {
  right: -30%;
}
.elementor-31665
  .elementor-element.elementor-element-cecbdc5
  .bwp-widget-banner
  .bwp-image
  img {
  border-radius: 45px 45px 45px 45px;
}
.elementor-31665
  .elementor-element.elementor-element-cecbdc5
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-31665
  .elementor-element.elementor-element-381037d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-31665 .elementor-element.elementor-element-aa20ab0 {
  text-align: center;
}
.elementor-31665
  .elementor-element.elementor-element-aa20ab0
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-31665
  .elementor-element.elementor-element-aa20ab0
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
@media (max-width: 1199px) {
  .elementor-31665
    .elementor-element.elementor-element-5b133cd
    .bwp-slider
    .button-slider {
    padding: 15px 40px 15px 40px;
  }
  .elementor-31665 .elementor-element.elementor-element-0ddba0b img {
    width: 250px;
  }
  body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-0ddba0b {
    right: -24%;
  }
  body.rtl .elementor-31665 .elementor-element.elementor-element-0ddba0b {
    left: -24%;
  }
  .elementor-31665
    .elementor-element.elementor-element-65442a7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 200px;
  }
  .elementor-31665 .elementor-element.elementor-element-5a0c76a {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-31665
    .elementor-element.elementor-element-4ae395c
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-31665
    .elementor-element.elementor-element-e89cdc6
    .bwp-testimonial
    .post-excerpt {
    font-size: 22px;
  }
  .elementor-31665 .elementor-element.elementor-element-874bd76 img {
    width: 250px;
  }
  body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-874bd76 {
    left: -24%;
  }
  body.rtl .elementor-31665 .elementor-element.elementor-element-874bd76 {
    right: -24%;
  }
}
@media (max-width: 767px) {
  .elementor-31665
    .elementor-element.elementor-element-74b1356
    > .elementor-element-populated {
    margin: 0px 0px 65px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31665 .elementor-element.elementor-element-0ddba0b img {
    width: 150px;
    border-radius: 15px 15px 15px 15px;
  }
  .elementor-31665 .elementor-element.elementor-element-0ddba0b {
    width: auto;
    max-width: auto;
    bottom: -30px;
  }
  body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-0ddba0b {
    right: 30px;
  }
  body.rtl .elementor-31665 .elementor-element.elementor-element-0ddba0b {
    left: 30px;
  }
  .elementor-31665
    .elementor-element.elementor-element-65442a7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-31665 .elementor-element.elementor-element-59db5c1 {
    text-align: center;
  }
  .elementor-31665 .elementor-element.elementor-element-af4e8b3 {
    text-align: center;
  }
  .elementor-31665
    .elementor-element.elementor-element-1c0b261
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li
    span {
    font-size: 25px;
  }
  .elementor-31665
    .elementor-element.elementor-element-1c0b261
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li {
    padding: 0px 20px 0px 0px;
  }
  .elementor-31665
    .elementor-element.elementor-element-e89cdc6
    .bwp-testimonial
    .post-excerpt {
    font-size: 18px;
    line-height: 30px;
  }
  .elementor-31665
    .elementor-element.elementor-element-4bcf80b
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-31665 .elementor-element.elementor-element-5bf1ed1 {
    text-align: center;
  }
  .elementor-31665 .elementor-element.elementor-element-dd7552e {
    text-align: center;
  }
  .elementor-31665 .elementor-element.elementor-element-874bd76 img {
    width: 150px;
    border-radius: 15px 15px 15px 15px;
  }
  body:not(.rtl) .elementor-31665 .elementor-element.elementor-element-874bd76 {
    left: 10%;
  }
  body.rtl .elementor-31665 .elementor-element.elementor-element-874bd76 {
    right: 10%;
  }
  .elementor-31665 .elementor-element.elementor-element-874bd76 {
    top: 68%;
  }
}
