.elementor-14148
  .elementor-element.elementor-element-8af9266
  > .elementor-container {
  max-width: 1790px;
}
.elementor-14148 .elementor-element.elementor-element-8af9266 {
  margin-top: 0px;
  margin-bottom: 40px;
}
.elementor-14148
  .elementor-element.elementor-element-4963916
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-14148
  .elementor-element.elementor-element-4c2ea14
  > .elementor-container {
  max-width: 1450px;
}
.elementor-14148 .elementor-element.elementor-element-4c2ea14 {
  margin-top: 0px;
  margin-bottom: 90px;
}
.elementor-14148
  .elementor-element.elementor-element-be39307
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 20px 0px 20px;
}
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .title-banner {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .bwp-image-subtitle {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 30px 0px 30px;
  background-color: #ffffff;
}
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .button:hover,
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .button:focus {
  color: #ffffff;
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-28026e7
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
  bottom: 0;
  transform: translateY(0);
  top: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 15px 70px 335px;
}
.elementor-14148
  .elementor-element.elementor-element-74f57eb
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 20px 0px 20px;
}
.elementor-14148
  .elementor-element.elementor-element-91ed76e
  .bwp-widget-banner {
  text-align: center;
}
.elementor-14148
  .elementor-element.elementor-element-91ed76e
  .bwp-widget-banner
  .title-banner {
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-91ed76e
  .bwp-widget-banner
  .bwp-image-description {
  font-size: 16px;
}
.elementor-14148
  .elementor-element.elementor-element-91ed76e
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: center;
  display: flex;
  bottom: 0;
  transform: translateY(0);
  top: auto;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0px 15px 40px 15px;
}
.elementor-14148 .elementor-element.elementor-element-d642e62 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-14148
  .elementor-element.elementor-element-17edb98
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading {
  text-align: center;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span {
  color: #737373;
  font-size: 30px;
  font-family: "IvyMode Regular", serif;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li
  span:hover {
  color: #ce9257;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li.active
  span {
  color: #000000;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading
  ul
  li {
  padding: 0px 30px 0px 30px;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .bwp-filter-heading {
  margin-bottom: 30px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-5938aa5
  .bwp-filter-homepage
  .category-tab-nav {
  justify-content: flex-start;
  display: flex;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  line-height: 42px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 30px 0px 30px;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button:hover,
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button:focus {
  color: #ffffff;
  border-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button:focus
  svg {
  fill: #ffffff;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.default:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_1:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_1:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_2:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_3:before {
  border-color: transparent transparent transparent #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_3:after {
  border-color: transparent #204e93 transparent transparent;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_4:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_4:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_5:before {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_5:after {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_6:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_7:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_8:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_8:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_9:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_10:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button.style_11:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-366cba7
  .bwp-button-widget
  .bwp-button:focus {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-054d30a
  > .elementor-container {
  max-width: 1450px;
}
.elementor-14148 .elementor-element.elementor-element-054d30a {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-14148
  .elementor-element.elementor-element-3c60477
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 20px 0px 20px;
}
.elementor-14148
  .elementor-element.elementor-element-04233e8
  .bwp-widget-banner
  .title-banner {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-04233e8
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 400;
}
.elementor-14148
  .elementor-element.elementor-element-04233e8
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 25px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-04233e8
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-14148
  .elementor-element.elementor-element-a9f5a58
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 20px 0px 20px;
}
.elementor-14148
  .elementor-element.elementor-element-91f8925
  .bwp-widget-banner
  .title-banner {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-91f8925
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 400;
}
.elementor-14148
  .elementor-element.elementor-element-91f8925
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 25px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-91f8925
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-14148
  .elementor-element.elementor-element-27a41f7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 20px 0px 20px;
}
.elementor-14148
  .elementor-element.elementor-element-c78bfbd
  .bwp-widget-banner
  .title-banner {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-14148
  .elementor-element.elementor-element-c78bfbd
  .bwp-widget-banner
  .button {
  font-size: 16px;
  font-weight: 400;
}
.elementor-14148
  .elementor-element.elementor-element-c78bfbd
  .bwp-widget-banner
  .bwp-image {
  margin: 0px 0px 25px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-c78bfbd
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-14148 .elementor-element.elementor-element-2b0961a {
  margin-top: 0px;
  margin-bottom: 65px;
}
.elementor-14148
  .elementor-element.elementor-element-5195e72
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-14148 .elementor-element.elementor-element-f17b79b {
  text-align: center;
}
.elementor-14148
  .elementor-element.elementor-element-f17b79b
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-14148
  .elementor-element.elementor-element-f17b79b
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-faf4ea4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-14148
  .elementor-element.elementor-element-faf4ea4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2023/03/background-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-14148 .elementor-element.elementor-element-faf4ea4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 95px;
  padding: 185px 0px 125px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-faf4ea4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-14148
  .elementor-element.elementor-element-ef37a2d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-f79f421
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-14148 .elementor-element.elementor-element-c94a30a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-14148
  .elementor-element.elementor-element-c94a30a
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-9185d55
  .elementor-heading-title {
  font-size: 35px;
  line-height: 45px;
}
.elementor-14148
  .elementor-element.elementor-element-9185d55
  > .elementor-widget-container {
  margin: 0px 0px 30px 0px;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 30px 0px 30px;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button:hover,
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button:focus {
  color: #ffffff;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button:focus
  svg {
  fill: #ffffff;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.default:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_1:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_1:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_1
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_2:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_3:before {
  border-color: transparent transparent transparent #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_3:after {
  border-color: transparent #204e93 transparent transparent;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_4:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_4:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_4
  .bwp-button-content-wrapper:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_5:before {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_5:after {
  border-color: #204e93;
  border-radius: 5px 5px 5px 5px;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_6:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_7:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_8:before {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_8:after {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_9:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_10:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button.style_11:hover {
  background-color: #204e93;
}
.elementor-14148
  .elementor-element.elementor-element-1586489
  .bwp-button-widget
  .bwp-button:focus {
  background-color: #204e93;
}
@media (max-width: 1199px) {
  .elementor-14148 .elementor-element.elementor-element-8af9266 {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .elementor-14148 .elementor-element.elementor-element-4c2ea14 {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-be39307
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-28026e7
    .bwp-widget-banner {
    text-align: center;
  }
  .elementor-14148
    .elementor-element.elementor-element-28026e7
    .bwp-widget-banner
    .banner-wrapper-infor {
    justify-content: center;
    display: flex;
    padding: 0px 15px 50px 15px;
  }
  .elementor-14148
    .elementor-element.elementor-element-74f57eb
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148 .elementor-element.elementor-element-054d30a {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-3c60477
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-04233e8
    .bwp-widget-banner
    .title-banner {
    font-size: 25px;
  }
  .elementor-14148
    .elementor-element.elementor-element-a9f5a58
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-91f8925
    .bwp-widget-banner
    .title-banner {
    font-size: 25px;
  }
  .elementor-14148
    .elementor-element.elementor-element-27a41f7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 7.5px 0px 7.5px;
  }
  .elementor-14148
    .elementor-element.elementor-element-c78bfbd
    .bwp-widget-banner
    .title-banner {
    font-size: 25px;
  }
  .elementor-14148 .elementor-element.elementor-element-faf4ea4 {
    padding: 150px 0px 100px 0px;
  }
  .elementor-14148 .elementor-element.elementor-element-c94a30a {
    width: var(--container-widget-width, 298.484px);
    max-width: 298.484px;
    --container-widget-width: 298.484px;
    --container-widget-flex-grow: 0;
  }
  .elementor-14148 .elementor-element.elementor-element-9185d55 {
    width: var(--container-widget-width, 304.484px);
    max-width: 304.484px;
    --container-widget-width: 304.484px;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 767px) {
  .elementor-14148
    .elementor-element.elementor-element-be39307
    > .elementor-element-populated {
    margin: 0px 0px 15px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-14148
    .elementor-element.elementor-element-28026e7
    .bwp-widget-banner
    .title-banner {
    font-size: 28px;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .elementor-14148
    .elementor-element.elementor-element-28026e7
    .bwp-widget-banner
    .banner-wrapper-infor {
    padding: 0px 15px 30px 15px;
  }
  .elementor-14148
    .elementor-element.elementor-element-91ed76e
    .bwp-widget-banner
    .title-banner {
    font-size: 28px;
  }
  .elementor-14148
    .elementor-element.elementor-element-91ed76e
    .bwp-widget-banner
    .banner-wrapper-infor {
    padding: 0px 15px 30px 15px;
  }
  .elementor-14148
    .elementor-element.elementor-element-5938aa5
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li
    span {
    font-size: 25px;
  }
  .elementor-14148
    .elementor-element.elementor-element-5938aa5
    .bwp-filter-homepage
    .bwp-filter-heading
    ul
    li {
    padding: 0px 20px 0px 20px;
  }
  .elementor-14148
    .elementor-element.elementor-element-3c60477
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-14148
    .elementor-element.elementor-element-04233e8
    .bwp-widget-banner {
    text-align: center;
  }
  .elementor-14148
    .elementor-element.elementor-element-04233e8
    .bwp-widget-banner
    .banner-wrapper-infor {
    justify-content: center;
    display: flex;
  }
  .elementor-14148
    .elementor-element.elementor-element-a9f5a58
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-14148
    .elementor-element.elementor-element-91f8925
    .bwp-widget-banner {
    text-align: center;
  }
  .elementor-14148
    .elementor-element.elementor-element-91f8925
    .bwp-widget-banner
    .banner-wrapper-infor {
    justify-content: center;
    display: flex;
  }
  .elementor-14148
    .elementor-element.elementor-element-c78bfbd
    .bwp-widget-banner {
    text-align: center;
  }
  .elementor-14148
    .elementor-element.elementor-element-c78bfbd
    .bwp-widget-banner
    .banner-wrapper-infor {
    justify-content: center;
    display: flex;
  }
  .elementor-14148
    .elementor-element.elementor-element-f79f421.elementor-column
    > .elementor-column-wrap
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-14148 .elementor-element.elementor-element-c94a30a {
    text-align: center;
  }
  .elementor-14148 .elementor-element.elementor-element-9185d55 {
    text-align: center;
  }
  .elementor-14148
    .elementor-element.elementor-element-9185d55
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-14148
    .elementor-element.elementor-element-9185d55
    > .elementor-widget-container {
    margin: 0px 0px 25px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-14148 .elementor-element.elementor-element-ef37a2d {
    width: 62.302%;
  }
  .elementor-14148 .elementor-element.elementor-element-f79f421 {
    width: 37.615%;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .elementor-14148 .elementor-element.elementor-element-ef37a2d {
    width: 58%;
  }
  .elementor-14148 .elementor-element.elementor-element-f79f421 {
    width: 42%;
  }
}
