.elementor-9162 .elementor-element.elementor-element-de802ab {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9162
  .elementor-element.elementor-element-472f96f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9162 .elementor-element.elementor-element-dba6f54 {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 65px;
}
.elementor-9162
  .elementor-element.elementor-element-3a415c5
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 140px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-4ac8df3
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-4ac8df3
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-9162 .elementor-element.elementor-element-bfd9100 {
  font-size: 18px;
}
.elementor-9162
  .elementor-element.elementor-element-bfd9100
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 500;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button
  svg {
  width: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9162 .elementor-element.elementor-element-03cc655 .bwp-button:focus {
  color: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9162
  .elementor-element.elementor-element-03cc655
  .bwp-button:focus
  svg {
  fill: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-fe9b3f1
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-63f2840
  > .elementor-widget-container {
  margin: 0px -365px 0px 0px;
}
.elementor-9162 .elementor-element.elementor-element-023a369 {
  margin-top: 0px;
  margin-bottom: 155px;
}
.elementor-9162
  .elementor-element.elementor-element-7a65565
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-a223b1e {
  width: auto;
  max-width: auto;
  top: -20%;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-a223b1e {
  left: -10%;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-a223b1e {
  right: -10%;
}
.elementor-9162
  .elementor-element.elementor-element-b346b69
  .bwp-widget-banner
  .banner-wrapper-infor {
  justify-content: flex-start;
  display: flex;
}
.elementor-bc-flex-widget
  .elementor-9162
  .elementor-element.elementor-element-b3b827e.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-9162
  .elementor-element.elementor-element-b3b827e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-9162
  .elementor-element.elementor-element-b3b827e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-7ad55dc {
  padding: 0px 15px 0px 140px;
}
.elementor-9162
  .elementor-element.elementor-element-a26e1a9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-2d3a271
  .elementor-heading-title {
  font-size: 40px;
}
.elementor-9162
  .elementor-element.elementor-element-2d3a271
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-9162 .elementor-element.elementor-element-e18e1bd {
  font-size: 18px;
}
.elementor-9162
  .elementor-element.elementor-element-e18e1bd
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 500;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button
  svg {
  width: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9162 .elementor-element.elementor-element-bdbbb7e .bwp-button:focus {
  color: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9162
  .elementor-element.elementor-element-bdbbb7e
  .bwp-button:focus
  svg {
  fill: #204e93;
}
.elementor-9162 .elementor-element.elementor-element-047463b {
  margin-top: 0px;
  margin-bottom: 100px;
}
.elementor-9162
  .elementor-element.elementor-element-1749172
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-1d88c26:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9162
  .elementor-element.elementor-element-1d88c26
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf7f2;
}
.elementor-9162 .elementor-element.elementor-element-1d88c26 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-1d88c26
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9162
  .elementor-element.elementor-element-e3374a9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-5db965d {
  text-align: center;
}
.elementor-9162
  .elementor-element.elementor-element-5db965d
  .elementor-heading-title {
  font-size: 25px;
  line-height: 35px;
}
.elementor-9162
  .elementor-element.elementor-element-4cbec80:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9162
  .elementor-element.elementor-element-4cbec80
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf7f2;
}
.elementor-9162 .elementor-element.elementor-element-4cbec80 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px 15px 65px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-4cbec80
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9162
  .elementor-element.elementor-element-f16346c
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-9162 .elementor-element.elementor-element-6ceb72e .elementor-icon {
  font-size: 45px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e
  .elementor-icon-box-title,
.elementor-9162
  .elementor-element.elementor-element-6ceb72e
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-6ceb72e
  .elementor-icon-box-description {
  font-size: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-0faacb7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-9162 .elementor-element.elementor-element-55dec2b .elementor-icon {
  font-size: 45px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b
  .elementor-icon-box-title,
.elementor-9162
  .elementor-element.elementor-element-55dec2b
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-55dec2b
  .elementor-icon-box-description {
  font-size: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-b9b51e8
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-9162 .elementor-element.elementor-element-294afc7 .elementor-icon {
  font-size: 45px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7
  .elementor-icon-box-title,
.elementor-9162
  .elementor-element.elementor-element-294afc7
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-294afc7
  .elementor-icon-box-description {
  font-size: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-cd57463
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6.elementor-position-left
  .bwp-icon-box-icon {
  margin-right: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6.elementor-position-top
  .bwp-icon-box-icon {
  margin-bottom: 15px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6.elementor-position-right
  .bwp-icon-box-icon {
  margin-left: 15px;
}
.elementor-9162 .elementor-element.elementor-element-05f1aa6 .elementor-icon {
  font-size: 45px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6
  .elementor-icon-box-title {
  margin-bottom: 10px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6
  .elementor-icon-box-title,
.elementor-9162
  .elementor-element.elementor-element-05f1aa6
  .elementor-icon-box-title
  a {
  font-size: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-05f1aa6
  .elementor-icon-box-description {
  font-size: 15px;
}
.elementor-9162 .elementor-element.elementor-element-90ac33e {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-90ac33e {
  right: 15px;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-90ac33e {
  left: 15px;
}
.elementor-9162 .elementor-element.elementor-element-a40b5ad {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-bc-flex-widget
  .elementor-9162
  .elementor-element.elementor-element-a52b163.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-9162
  .elementor-element.elementor-element-a52b163.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-9162
  .elementor-element.elementor-element-a52b163
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-aad0a02 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 120px;
}
.elementor-9162
  .elementor-element.elementor-element-cb9401b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-78b7f43
  .elementor-heading-title {
  font-size: 40px;
}
.elementor-9162
  .elementor-element.elementor-element-78b7f43
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-9162 .elementor-element.elementor-element-c99dc36 {
  font-size: 18px;
}
.elementor-9162
  .elementor-element.elementor-element-c99dc36
  > .elementor-widget-container {
  margin: 0px 0px 10px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 500;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button
  svg {
  width: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9162 .elementor-element.elementor-element-518607f .bwp-button:focus {
  color: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9162
  .elementor-element.elementor-element-518607f
  .bwp-button:focus
  svg {
  fill: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-54b7b12
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-f52da4e .bwp-widget-video {
  text-align: center;
}
.elementor-9162 .elementor-element.elementor-element-7af51ef {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9162
  .elementor-element.elementor-element-f83016f
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-1c93d57
  .bwp_product_list
  .title-block
  h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-right {
  margin-left: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button
  .bwp-align-icon-left {
  margin-right: 20px;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button
  .bwp-button-icon {
  top: 2px;
  position: relative;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button {
  font-size: 16px;
  font-weight: 500;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button
  svg {
  width: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button
  i {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button:hover,
.elementor-9162 .elementor-element.elementor-element-318c9bd .bwp-button:focus {
  color: #204e93;
}
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button-widget
  .bwp-button:hover
  svg,
.elementor-9162
  .elementor-element.elementor-element-318c9bd
  .bwp-button:focus
  svg {
  fill: #204e93;
}
.elementor-9162 .elementor-element.elementor-element-df74c53 {
  margin-top: 0px;
  margin-bottom: 95px;
}
.elementor-9162
  .elementor-element.elementor-element-d618fc9
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162
  .elementor-element.elementor-element-eff3975:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-9162
  .elementor-element.elementor-element-eff3975
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fcf8f3;
}
.elementor-9162 .elementor-element.elementor-element-eff3975 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 55px 20px 55px;
}
.elementor-9162
  .elementor-element.elementor-element-eff3975
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9162
  .elementor-element.elementor-element-4776d49
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-ee324ac {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-ee324ac {
  right: 0px;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-ee324ac {
  left: 0px;
}
.elementor-9162 .elementor-element.elementor-element-f218ddb {
  text-align: center;
  width: auto;
  max-width: auto;
  top: 25px;
}
.elementor-9162
  .elementor-element.elementor-element-f218ddb
  .elementor-heading-title {
  font-size: 30px;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-f218ddb {
  left: 40%;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-f218ddb {
  right: 40%;
}
.elementor-9162 .elementor-element.elementor-element-8cdfbbb .bwp-testimonial {
  text-align: center;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-title {
  color: #e7d1bb;
  font-size: 90px;
  font-family: "Natalie";
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-customer-name {
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .post-excerpt {
  font-size: 18px;
  margin-bottom: 0px;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image
  .thumbnail
  img {
  width: 75px;
  height: 75px;
  border-radius: 50% 50% 50% 50%;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  width: 75px;
  height: 75px;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image {
  display: flex;
  align-items: center;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image.image-position-top
  .testimonial-info {
  width: 100%;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image.image-position-top
  .thumbnail
  img {
  margin: auto;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image.image-position-top {
  flex-wrap: wrap;
  justify-content: center;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image.image-position-right
  .thumbnail {
  order: 2;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .testimonial-image
  .thumbnail {
  margin: 0px 0px 15px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-8cdfbbb
  .bwp-testimonial
  .slick-dots {
  text-align: center;
}
.elementor-9162 .elementor-element.elementor-element-8a85e58 {
  width: auto;
  max-width: auto;
  bottom: -19px;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-8a85e58 {
  right: -54px;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-8a85e58 {
  left: -54px;
}
.elementor-9162 .elementor-element.elementor-element-398b630 {
  width: auto;
  max-width: auto;
  bottom: -4%;
}
body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-398b630 {
  left: 15%;
}
body.rtl .elementor-9162 .elementor-element.elementor-element-398b630 {
  right: 15%;
}
.elementor-9162 .elementor-element.elementor-element-03f5872 {
  margin-top: 0px;
  margin-bottom: 35px;
}
.elementor-9162
  .elementor-element.elementor-element-cb836a1
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 15px 0px 15px;
}
.elementor-9162 .elementor-element.elementor-element-f10aefa {
  text-align: center;
}
.elementor-9162
  .elementor-element.elementor-element-f10aefa
  .elementor-heading-title {
  font-size: 30px;
}
.elementor-9162
  .elementor-element.elementor-element-dc4f840
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-3d982c0
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
.elementor-9162
  .elementor-element.elementor-element-2be170a
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-9162 .elementor-element.elementor-element-3a415c5 {
    width: 26.389%;
  }
  .elementor-9162 .elementor-element.elementor-element-fe9b3f1 {
    width: 73.611%;
  }
  .elementor-9162 .elementor-element.elementor-element-7a65565 {
    width: 59.167%;
  }
  .elementor-9162 .elementor-element.elementor-element-b3b827e {
    width: 40.799%;
  }
  .elementor-9162 .elementor-element.elementor-element-a52b163 {
    width: 40.832%;
  }
  .elementor-9162 .elementor-element.elementor-element-54b7b12 {
    width: 59.168%;
  }
}
@media (max-width: 1199px) {
  .elementor-9162 .elementor-element.elementor-element-de802ab {
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .elementor-9162
    .elementor-element.elementor-element-3a415c5
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 90px 15px 0px 15px;
  }
  .elementor-9162 .elementor-element.elementor-element-bfd9100 {
    font-size: 16px;
  }
  .elementor-9162
    .elementor-element.elementor-element-bfd9100
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-9162 .elementor-element.elementor-element-023a369 {
    margin-top: 0px;
    margin-bottom: 95px;
  }
  .elementor-9162 .elementor-element.elementor-element-a223b1e img {
    width: 0%;
  }
  .elementor-9162 .elementor-element.elementor-element-7ad55dc {
    padding: 0px 0px 0px 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-2d3a271
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-9162 .elementor-element.elementor-element-aad0a02 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-78b7f43
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-9162
    .elementor-element.elementor-element-1c93d57
    .bwp_product_list
    .slick-arrow {
    top: 40%;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-f218ddb {
    left: 30%;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-f218ddb {
    right: 30%;
  }
}
@media (max-width: 767px) {
  .elementor-9162 .elementor-element.elementor-element-de802ab {
    margin-top: 0px;
    margin-bottom: 70px;
  }
  .elementor-9162
    .elementor-element.elementor-element-3a415c5
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-3a415c5
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0px 15px 0px 15px;
  }
  .elementor-9162 .elementor-element.elementor-element-4ac8df3 {
    text-align: center;
  }
  .elementor-9162 .elementor-element.elementor-element-bfd9100 {
    text-align: center;
  }
  .elementor-9162
    .elementor-element.elementor-element-7a65565
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-a223b1e {
    left: -6%;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-a223b1e {
    right: -6%;
  }
  .elementor-9162 .elementor-element.elementor-element-a223b1e {
    top: -16%;
  }
  .elementor-9162 .elementor-element.elementor-element-7ad55dc {
    padding: 0px 0px 0px 0px;
  }
  .elementor-9162 .elementor-element.elementor-element-2d3a271 {
    text-align: center;
  }
  .elementor-9162 .elementor-element.elementor-element-e18e1bd {
    text-align: center;
  }
  .elementor-9162
    .elementor-element.elementor-element-f16346c
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-6ceb72e.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-6ceb72e.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-6ceb72e.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-0faacb7
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-55dec2b.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-55dec2b.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-55dec2b.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-b9b51e8
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-294afc7.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-294afc7.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-294afc7.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-05f1aa6.elementor-position-left
    .bwp-icon-box-icon {
    margin-right: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-05f1aa6.elementor-position-top
    .bwp-icon-box-icon {
    margin-bottom: 15px;
  }
  .elementor-9162
    .elementor-element.elementor-element-05f1aa6.elementor-position-right
    .bwp-icon-box-icon {
    margin-left: 15px;
  }
  .elementor-9162 .elementor-element.elementor-element-90ac33e img {
    width: 80px;
  }
  .elementor-9162 .elementor-element.elementor-element-aad0a02 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-9162
    .elementor-element.elementor-element-cb9401b
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-9162 .elementor-element.elementor-element-78b7f43 {
    text-align: center;
  }
  .elementor-9162 .elementor-element.elementor-element-c99dc36 {
    text-align: center;
  }
  .elementor-9162 .elementor-element.elementor-element-eff3975 {
    padding: 30px 20px 20px 20px;
  }
  .elementor-9162 .elementor-element.elementor-element-ee324ac img {
    width: 80px;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-ee324ac {
    right: -20px;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-ee324ac {
    left: -20px;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-f218ddb {
    left: 10%;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-f218ddb {
    right: 10%;
  }
  .elementor-9162 .elementor-element.elementor-element-8a85e58 img {
    width: 100px;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-8a85e58 {
    right: -3%;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-8a85e58 {
    left: -3%;
  }
  body:not(.rtl) .elementor-9162 .elementor-element.elementor-element-398b630 {
    left: -3%;
  }
  body.rtl .elementor-9162 .elementor-element.elementor-element-398b630 {
    right: -3%;
  }
}
